.buttons-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.4rem;
  width: 250px;
  margin: 5px;
  font-weight: 600;
}

h1 {
  text-align: center;
}
